*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: "cabecalho" "principal" "rodape";
}

.cabecalho{
    grid-area: cabecalho;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);

    z-index: 1;
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}
.cabecalho > h2{
    margin: 0px;
    font-size: 1.6rem;
    font-weight: 200;
}
.conteudo{
    position: relative;
    height: 100%;
    overflow: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px( 0,0,0, 0.75s);

}
.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    padding: 20px;
}
.rodape{ 
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;
}

.modulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modulo{
    flex-basis: 33%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px 20px;
    background-color: blue;
}

.modulo > ul{
    margin: 0px;
    padding: 10px;
    list-style: none;

}
.modulo > ul > li {
    padding: 7px;
    font-size: 1.3rem;
    cursor: pointer;
}
.modulo > ul > li > a{
    display: flex;
    text-decoration: none;
    color: #222;
}
.modulo > ul > li:hover{
    background-color: #EEE;
}

.modulo.verde { border: 2px solid #4CAF50 ;}
.modulo.verde > h3{ background-color: #4CAF50 ;}

.modulo.azul{ border: 2px solid blue ;}
.modulo.azul > h3{ background-color: rgb(47, 146, 238) ;}

.modulo.amarelo{ border: 2px solid rgb(236, 128, 4);}
.modulo.amarelo > h3{ background-color: rgb(236, 128, 4) ;}

.modulo.preto{ border: 2px solid black ;}
.modulo.preto > h3{ background-color: black;}

.modulo.vermelho{ border: 2px solid red;}
.modulo.vermelho > h3{ background-color: red;}

.modulo.roxo{ border: 2px solid rebeccapurple ;}
.modulo.roxo > h3{ background-color: rebeccapurple ;}

.modulo.rosa{ border: 2px solid rgb(236, 10, 198) ;}
.modulo.rosa > h3{ background-color:  rgb(236, 10, 198) ;}

.modulo.rozito{ border: 2px solid rgb(219, 12, 81) ;}
.modulo.rozito > h3{ background-color:  rgb(219, 12, 81) ;}





p.divissao{
    margin-bottom: 0px;
    font-weight: bold;
    
}
hr{
    margin-top: 0px;
   
}
