<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Your Ultimate Job HTML Template">
    <meta name="keywords" content="Job, Resume, Employer, Agency">
    <link rel="canonical" href="https://html.themewant.com/jobpath">
    <meta name="robots" content="index, follow">
    <!-- for open graph social media -->
    <meta property="og:title" content="Your Ultimate Job HTML Template">
    <meta property="og:description" content="Your Ultimate Job HTML Template">
    <meta property="og:image" content="https://www.example.com/image.jpg">
    <meta property="og:url" content="https://html.themewant.com/jobpath/">
    <!-- for twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Your Ultimate Job HTML Template">
    <meta name="twitter:description" content="Your Ultimate Job HTML Template">
    <!-- fabicon -->
    <link rel="shortcut-icon" href="assets/img/favicon-16x16.png" type="image/x-icon">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <title>Jobpath - Job Seeker &amp; Job Holder HTML Template</title>
    <!-- rt icons -->
    <link rel="stylesheet" href="assets/fonts/icon/css/rt-icons.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/fonts/fontawesome/fontawesome.min.css">
    <!-- all plugin css -->
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <!-- header area -->
<header class="rts__section rts__header absolute__header">
    <div class="container-none">
        <div class="rts__menu__background">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="rts__logo">
                        <a href="index.html">
                            <img class="logo__image" src="assets/img/logo/header__one.svg" width="160" height="40" alt="logo">
                        </a>
                    </div>
                    <div class="rts__menu d-flex gap-5 gap-lg-4 gap-xl-5 align-items-center">
                        <div class="navigation d-none d-lg-block">
    <nav class="navigation__menu" id="offcanvas__menu">
        <ul class="list-unstyled">
            <li class="navigation__menu--item has-child has-arrow">
                <a href="employer-1.html#" class="navigation__menu--item__link">Home</a>
                <ul class="submenu sub__style" role="menu">
                    <li role="menuitem"><a href="index.html">Home One</a></li>
                    <li role="menuitem"><a href="index-2.html">Home Two</a></li>
                    <li role="menuitem"><a href="index-3.html">Home Three</a></li>
                    <li role="menuitem"><a href="index-4.html">Home Four</a></li>
                    <li role="menuitem"><a href="index-5.html">Home Five</a></li>
                    <li role="menuitem"><a href="index-6.html">Home Six</a></li>
                </ul>
            </li>

            <li class="navigation__menu--item has-child has-arrow">
                <a href="employer-1.html#" class="navigation__menu--item__link">Browse Jobs</a>
                <ul class="submenu sub__style" role="menu">
                    <li role="menuitem" class="has-child has-arrow">
                        <a href="employer-1.html#">Job List</a>
                        <ul class="sub__style" role="menu">
                            <li role="menuitem"><a href="job-list-1.html">Job List One</a></li>
                            <li role="menuitem"><a href="job-list-2.html">Job List Two</a></li>
                            <li role="menuitem"><a href="job-list-3.html">Job List Three</a></li>
                            <li role="menuitem"><a href="job-list-4.html">Job List Four</a></li>
                            <li role="menuitem"><a href="job-list-5.html">Job List Five</a></li>
                        </ul>
                    </li>
                    <li role="menuitem" class="has-child has-arrow">
                        <a href="employer-1.html#">Job Details</a>
                        <ul class="sub__style" role="menu">
                            <li role="menuitem"><a href="job-details-1.html">Job Details One</a></li>
                            <li role="menuitem"><a href="job-details-2.html">Job Details Two</a></li>
                            <li role="menuitem"><a href="job-details-3.html">Job Details Three</a></li>
                            <li role="menuitem"><a href="job-details-4.html">Job Details Four</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="navigation__menu--item has-child has-arrow">
                <a href="employer-1.html#" class="navigation__menu--item__link">Employers</a>
                <ul class="submenu sub__style" role="menu">
                    <li role="menuitem" class="has-child has-arrow">
                        <a href="employer-1.html">Employer Style</a>
                        <ul class="sub__style" role="menu">
                            <li role="menuitem"><a href="employer-1.html">Employer One</a></li>
                            <li role="menuitem"><a href="employer-2.html">Employer Two</a></li>
                            <li role="menuitem"><a href="employer-3.html">Employer Three</a></li>
                        </ul>
                    </li>
                    <li role="menuitem" class="has-child has-arrow">
                        <a href="employer-details-1.html">Employer Details</a>
                        <ul class="sub__style" role="menu">
                            <li role="menuitem"><a href="employer-details-1.html">Employer Details 1</a></li>
                            <li role="menuitem"><a href="employer-details-2.html">Employer Details 2</a></li>
                        </ul>
                    </li>
                    <li role="menuitem"><a href="employer-dashboard.html">Employer Dashboard</a></li>
                </ul>
            </li>

            <li class="navigation__menu--item has-child has-arrow">
                <a href="employer-1.html#" class="navigation__menu--item__link">Candidates</a>
                <ul class="submenu sub__style" role="menu">
                    <li role="menuitem" class="has-child has-arrow">
                        <a href="candidate-1.html">Candidate Style</a>
                        <ul class="sub__style" role="menu">
                            <li role="menuitem"><a href="candidate-1.html">Candidate One</a></li>
                            <li role="menuitem"><a href="candidate-2.html">Candidate Two</a></li>
                            <li role="menuitem"><a href="candidate-3.html">Candidate Three</a></li>
                            <li role="menuitem"><a href="candidate-4.html">Candidate Four</a></li>
                        </ul>
                    </li>
                    <li role="menuitem" class="has-child has-arrow">
                        <a href="candidate-details-1.html">Candidate Details</a>
                        <ul class="sub__style" role="menu">
                            <li role="menuitem"><a href="candidate-details-1.html">Candidate Details 1</a></li>
                            <li role="menuitem"><a href="candidate-details-2.html">Candidate Details 2</a></li>
                            
                        </ul>
                    </li>
                    <li role="menuitem"><a href="candidate-dashboard.html">Candidate Dashboard</a></li>
                </ul>
            </li>

            <li class="navigation__menu--item has-child has-arrow">
                <a href="employer-1.html#" class="navigation__menu--item__link">Pages</a>
                <ul class="submenu sub__style" role="menu">
                    <li role="menuitem" class="has-child has-arrow">
                        <a href="about.html">Blog</a>
                        <ul class="sub__style" role="menu">
                            <li role="menuitem"><a href="blog-1.html">Blog One</a></li>
                            <li role="menuitem"><a href="blog-2.html">Blog Two</a></li>
                            <li role="menuitem"><a href="blog-3.html">Blog Three</a></li>
                            <li role="menuitem"><a href="blog-4.html">Blog Four</a></li>
                            <li role="menuitem"><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li role="menuitem"><a href="about.html">About</a></li>
                    <li role="menuitem"><a href="faq.html">Faq</a></li>
                    <li role="menuitem"><a href="tos.html">Terms &amp; Conditions</a></li>
                    <li role="menuitem"><a href="privacy.html">Privacy Policy</a></li>
                    <li role="menuitem"><a href="pricing.html">Pricing</a></li>
                </ul>
            </li>

            <li class="navigation__menu--item has-child has-arrow">
                <a href="employer-1.html#" class="navigation__menu--item__link">Contact</a>
                <ul class="submenu sub__style" role="menu">
                    <li role="menuitem"><a href="contact-1.html">Contact One</a></li>
                    <li role="menuitem"><a href="contact-2.html">Contact Two</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

                        <div class="header__right__btn d-flex gap-3">
                            <a href="employer-1.html#" class="small__btn d-none d-sm-flex no__fill__btn border-6 font-xs" aria-label="Login Button" data-bs-toggle="modal" data-bs-target="#loginModal"> <i class="rt-login"></i>Sign In</a>
                            <a href="employer-dash-jobpost.html" class="small__btn d-none d-sm-flex d-xl-flex fill__btn border-6 font-xs" aria-label="Job Posting Button">Add Job</a>
                            <button class="d-md-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-sharp fa-regular fa-bars"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
    <!-- breadcrumb area -->
    <div class="rts__section breadcrumb__background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 position-relative d-flex justify-content-between align-items-center">
                <div class="breadcrumb__area max-content breadcrumb__padding z-2">
                    <h1 class="breadcrumb-title h3 mb-3">Employer</h1>
                    <nav>
                        <ul class="breadcrumb m-0 lh-1">
                          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Employer</li>
                        </ul>
                    </nav>                  
                </div>
                <div class="breadcrumb__area__shape d-flex gap-4 justify-content-end align-items-center">
                    <div class="shape__one common">
                        <img src="assets/img/breadcrumb/shape-1.svg" alt="">
                    </div>
                    <div class="shape__two common">
                        <img src="assets/img/breadcrumb/shape-2.svg" alt="">
                    </div>
                    <div class="shape__three common">
                        <img src="assets/img/breadcrumb/shape-3.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- breadcrumb area end -->

    <!-- job list one -->
     <div class="rts__section section__padding">
        <div class="container">
            <div class="row g-30">
                <div class="col-lg-4 col-xl-4">
                    <div class="job__search__section mb-40">
                        <form action="employer-1.html#" class="d-flex flex-column row-30">
                            <div class="search__item">
                                <label for="search" class="mb-3 font-20 fw-medium text-dark text-capitalize">Search by Keywords</label>
                                <div class="position-relative">
                                    <input type="text" id="search" placeholder="Find Top Employer" required>
                                    <i class="fa-light fa-magnifying-glass"></i>
                                </div>
                            </div>
                            <!-- job location -->
                            <div class="search__item">
                                <h6 class="mb-3 font-20 fw-medium text-dark text-capitalize">Search Location</h6>
                                <div class="position-relative">
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">Search Location</span>
                                        <ul class="list">
                                            <li data-value="Nothing" data-display="Search Location" class="option selected focus">Search Location</li>
                                            <li data-value="1" class="option">Dhaka</li>
                                            <li data-value="2" class="option">Barisal</li>
                                            <li data-value="3" class="option">Chittagong</li>
                                            <li data-value="4" class="option">Rajshahi</li>
                                        </ul>
                                    </div>
                                    <i class="fa-light fa-location-dot"></i>
                                </div>
                            </div>
                            <!-- job category -->
                            <div class="search__item">
                                <h6 class="mb-3 font-20 fw-medium text-dark text-capitalize">Search By Job category</h6>
                                <div class="position-relative">
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">Choose a Category</span>
                                        <ul class="list">
                                            <li data-value="Nothing" data-display="Search By Job category" class="option selected focus">Choose a Category</li>
                                            <li data-value="1" class="option">Government</li>
                                            <li data-value="2" class="option">NGO</li>
                                            <li data-value="3" class="option ">Private</li>
                                        </ul>
                                    </div>
                                    <i class="rt-briefcase"></i>
                                </div>
                            </div>
                            <!-- job post time -->
                            <div class="search__item">
                                <h6 class="mb-3 font-20 fw-medium text-dark text-capitalize">Date posted</h6>
                                <div class="position-relative">
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">Date Posted</span>
                                        <ul class="list">
                                            <li data-value="Nothing" data-display="Date posted" class="option selected focus">Date Posted</li>
                                            <li data-value="1" class="option">01 Jan 24</li>
                                            <li data-value="2" class="option">05 Feb 24</li>
                                            <li data-value="3" class="option">07 Mar 24</li>
                                        </ul>
                                    </div>
                                    <i class="fa-light fa-clock"></i>
                                </div>
                            </div>
                            <!-- job location -->
                            <!-- founded date -->
                            <div class="search__item">
                                <label for="found" class="mb-3 font-20 fw-medium text-dark text-capitalize">Founded Date</label>
                                <div class="position-relative">
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">Founded Date</span>
                                        <ul class="list">
                                            <li data-value="Nothing" data-display="Founded Date" class="option selected focus">Founded Date</li>
                                            <li data-value="1" class="option">2020</li>
                                            <li data-value="2" class="option">2021</li>
                                            <li data-value="3" class="option">2022</li>
                                            <li data-value="4" class="option">2023</li>
                                            <li data-value="5" class="option">2024</li>
                                        </ul>
                                    </div>
                                    <i class="rt-briefcase"></i>
                                </div>
                            </div>
                            <!-- job post time -->
                            <div class="search__item">
                                <h6 class="mb-3 font-20 fw-medium text-dark text-capitalize">Team Size</h6>
                                <div class="search__item__list">
                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="fulltime" id="fulltime">
                                            <label for="fulltime">1-20</label>
                                        </div>
                                        <span>(130)</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="part" id="part">
                                            <label for="part">1-30</label>
                                        </div>
                                        <span>(80)</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="temporary" id="temporary">
                                            <label for="temporary">1-40</label>
                                        </div>
                                        <span>(150)</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="freelance" id="freelance">
                                            <label for="freelance">1-100</label>
                                        </div>
                                        <span>(130)</span>
                                    </div>
                                </div>
                            </div>

                            <!-- experience label -->
                            <div class="search__item">
                                <h6 class="mb-3 font-20 fw-medium text-dark text-capitalize">Sector</h6>
                                <div class="search__item__list">

                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="uiux" id="uiux">
                                            <label for="uiux">ui/ux design</label>
                                        </div>
                                        <span>(10)</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="web" id="web">
                                            <label for="web">Web Development</label>
                                        </div>
                                        <span>(15)</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="software" id="software">
                                            <label for="software">Software Engineer</label>
                                        </div>
                                        <span>(50)</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between list">
                                        <div class="d-flex gap-2 align-items-center checkbox">
                                            <input type="checkbox" name="marketing" id="marketing">
                                            <label for="marketing">Digital Marketing</label>
                                        </div>
                                        <span>(130)</span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="rts__btn no__fill__btn max-content mx-auto job__search__btn font-sm" aria-label="Search">Find Job</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8 col-xl-8">
                    <!-- search form -->
                    <div class="top__query mb-40 d-flex flex-wrap gap-4 gap-xl-0 justify-content-between align-items-center">
                        <span class="text-dark font-20 fw-medium">Showing 1-9 of 19 results</span>
                        <div class="d-flex flex-wrap align-items-center gap-4">
                            <form action="employer-1.html#" class="category-select">
                                <div class="position-relative">
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">All Category</span>
                                        <ul class="list">
                                            <li data-value="Nothing" data-display="All Category" class="option selected focus">All Category</li>
                                            <li data-value="1" class="option">Dhaka</li>
                                            <li data-value="2" class="option">Part time</li>
                                            <li data-value="3" class="option">Full Time</li>
                                            <li data-value="4" class="option">Government</li>
                                            <li data-value="5" class="option">NGO</li>
                                            <li data-value="6" class="option">Private</li>
                                        </ul>
                                    </div>
                                   
                                </div>
                            </form>
                            <div class="d-flex align-items-center gap-3" id="nav-tab" role="tablist">
                                <button class="rts__btn no__fill__btn grid-style nav-link active" data-bs-toggle="tab" data-bs-target="#grid"> <i class="rt-hamburger"></i> Grid</button>
                                <button class="rts__btn no__fill__btn list-style nav-link" data-bs-toggle="tab" data-bs-target="#list"> <i class="rt-list"></i> List</button>
                            </div>
                        </div>
                    </div>
                    <!-- search form end -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show  active"  role="tabpanel" id="grid">
                            <div class="row g-30">
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/upwork.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                            Upwork.com
                                            </a>
                                        </div>
                                        <p>Freelancing Platform</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Newyork, USA
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 20</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/microsoft.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                           Microsoft.com
                                            </a>
                                        </div>
                                        <p>Development</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Newyork, USA
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 25</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/in.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                           Linkedin Ltd
                                            </a>
                                        </div>
                                        <p>Development</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Antarion, USA
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 30</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/apple.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                           Apple.com
                                            </a>
                                        </div>
                                        <p>Software Engineer</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Antarion, USA
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 28</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/facebook.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                           Facebook.com
                                            </a>
                                        </div>
                                        <p>Development</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Antarion, USA
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 30</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/amazon.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                          Amazon.com
                                            </a>
                                        </div>
                                        <p>Web Development</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Ontario, Canada
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 30</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/google.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                          Google.com
                                            </a>
                                        </div>
                                        <p>Web Development</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Ontario, Canada
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 25</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="rts__job__card rounded-2 style__four">
                                        <div class="company__icon mx-auto rounded-0">
                                            <img src="assets/img/home-1/company/figma.svg" alt="">
                                        </div>
                                        <div class="h6 job__title mt-3 mb-2">
                                            <a href="employer-1.html#" aria-label="job">
                                         Figma.com
                                            </a>
                                        </div>
                                        <p>Web Development</p>
                                        <div class="d-flex justify-content-center gap-3 mt-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <i class="fa-light fa-location-dot"></i> Hacker street, USA
                                            </div>
                                        </div>
                                        <a href="employer-1.html#" class="rts__btn fill__btn rounded-2">open Job 30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane grid__style fade" role="tabpanel" id="list">
                            <div class="row g-30">
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two flex-wrap gap-4 d-flex justify-content-between align-items-center">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/upwork.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Upwork.Inc</a>
                                                <span class="d-block">Freelancing platform</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Newyork, USA
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 20</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two d-flex justify-content-between align-items-center flex-wrap gap-4">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/microsoft.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Microsoft.com</a>
                                                <span class="d-block">Development</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Ontario, Canada
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 25</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two d-flex justify-content-between align-items-center flex-wrap gap-4">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/in.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Linkedin.Ltd</a>
                                                <span class="d-block">UIUX Design</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Telangana, India
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 30</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two d-flex justify-content-between align-items-center flex-wrap gap-4">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/apple.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Apple .com</a>
                                                <span class="d-block">Software Company</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Ghana - Accra
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 25</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two d-flex justify-content-between align-items-center flex-wrap gap-4">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/facebook.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Facebook.com</a>
                                                <span class="d-block">Software Company</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Hacker Street, USA
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 25</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two d-flex justify-content-between align-items-center flex-wrap gap-4">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/microsoft.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Microsoft.com</a>
                                                <span class="d-block">Development</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Ontario, Canada
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 25</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two d-flex justify-content-between align-items-center flex-wrap gap-4">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/figma.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Microsoft.com</a>
                                                <span class="d-block">Development</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Ontario, Canada
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 25</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                                <!-- single employer -->
                                <div class="col-lg-12">
                                    <div class="rts__single__employer employer__style__two d-flex justify-content-between align-items-center flex-wrap gap-4">
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <div class="icon rounded-0">
                                                <img src="assets/img/icon/google.svg" alt="">
                                            </div>
                                            <div class="content">
                                                <a href="employer-1.html#" class="h6 mb-0 d-block fw-semibold text-dark">Google.com</a>
                                                <span class="d-block">Development</span>
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2 align-items-center">
                                            <i class="fa-light fa-location-dot text-dark"></i> Ontario, Canada
                                        </div>
                                        <div class="flex-wrap d-flex gap-4 align-items-center">
                                            <button class="apply__btn style__two">Open Job 25</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- single employer end -->
                            </div>
                        </div>
                    </div>

                    <!-- pagination -->
                    <div class="rts__pagination rounded__pagination mx-auto pt-60 max-content">
                        <ul class="d-flex gap-2">
                            <li><a href="employer-1.html#" class="inactive"><i class="rt-chevron-left"></i></a></li>
                            <li><a class="active" href="employer-1.html#">1</a></li>
                            <li><a href="employer-1.html#">2</a></li>
                            <li><a href="employer-1.html#">3</a></li>
                            <li><a href="employer-1.html#"><i class="rt-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- pagination end -->
                </div>
            </div>
        </div>
     </div>
    <!-- job list one end -->

    <!-- app center -->
    
    <div class="rts__section pb-120">
        <div class="container">
            <div class="row">
                <div class="rts__appcenter">
                    <div class="rts__appcenter__shape">
                        <img src="assets/img/home-1/app/shape.png" alt="">
                    </div>
                    <div class="rts__appcenter__content d-flex flex-wrap flex-xl-nowrap align-items-center justify-content-between justify-content-lg-center">
                        <div class="content__left align-items-end d-flex position-relative top-15px">
                            <img src="assets/img/home-1/app/app_screen.png" alt="">
                        </div>
                        <div class="content__right text-white text-center text-xl-start max-630">
                            <h3 class="l--1 mb-4 text-white wow animated fadeInUp" data-wow-delay=".1s ">Download The app Free!</h3>
                            <p class="wow animated fadeInUp" data-wow-delay=".2s">Looking for a new job can be both exciting and daunting. Navigating the job market involves exploring various avenues.</p>
                            <div class="d-flex gap-3 justify-content-center justify-content-xl-start flex-wrap mt-40 wow animated fadeInUp" data-wow-delay=".3s">
                                <div class="link">
                                    <a href="https://appstore.com" target="_blank" title="app store">
                                        <img src="assets/img/home-1/app/app-store.svg" alt="">
                                    </a>
                                </div>
                                <div class="link">
                                    <a href="https://google.com" target="_blank" title="play store">
                                        <img src="assets/img/home-1/app/play-store.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!-- app center end -->

    <footer class="rts__section  footer__home__one">
    <div class="container">
        <div class="row">
            <div class="footer__wrapper d-flex flex-wrap flex-column flex-sm-row gap-4 gap-md-0 gap-sm-3 justify-content-between pt-60 pb-60">
                <div class="rts__footer__widget max-320">
                    <a href="index.html" class="footer__logo" aria-label="logo">
                        <img src="assets/img/logo/header__one.svg" width="160" height="40" alt="logo">
                    </a>
                    <p class="mt-4">Whether you're an experienced professional or a fresh graduate eager to dive into the workforce, we have something for everyone.
                    </p>
                </div>

                <!-- footer menu -->
                 <div class="rts__footer__widget max-content">
                    <div class="font-20 fw-medium mb-3 h6">Links</div>
                    <ul class="list-unstyled">
                        <li><a href="job-list-1.html" aria-label="footer__menu__link">Browse Jobs</a></li>
                        <li><a href="candidate-1.html" aria-label="footer__menu__link">Browse Candidates</a></li>
                        <li><a href="blog-1.html" aria-label="footer__menu__link">Blog & News</a></li>
                        <li><a href="faq.html" aria-label="footer__menu__link">FAQ Question</a></li>
                        <li><a href="employer-1.html#" aria-label="footer__menu__link">Job Alerts</a></li>
                    </ul>
                 </div>

                 <div class="rts__footer__widget max-content">
                    <div class="font-20 fw-medium mb-3 h6 ">Contact Us</div>
                    <ul class="list-unstyled mb-3">
                        <li><a href="employer-1.html#"><i class="fa-light fa-location-dot"></i>2715 Ash Dr. San Jose,USA</a></li>
                        <li><a href="callto:+880171234578"><i class="fa-light fa-phone"></i>+(61) 545-432-234</a></li>
                        <li><a href="mailto:jobpath@gmail.com"><i class="fa-light fa-envelope"></i> jobpath@gmail.com</a></li>
                    </ul>
                    <div class="font-20 fw-medium mb-20 text-dark">Social Link</div>
                    <div class="rts__social d-flex gap-4">
    <a target="_blank" href="https://facebook.com"  aria-label="facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="_blank" href="https://instagram.com"  aria-label="instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com"  aria-label="linkedin">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://pinterest.com"  aria-label="pinterest">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    <a target="_blank" href="https://youtube.com"  aria-label="youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
                 </div>

                 <!-- newsletter form -->
                  <div class="rts__footer__widget max-320">
                    <div class="font-20 fw-medium mb-3 h6 ">Subscribe Our Newsletter</div>
                    <p class="br-sm-none">Subscribe Our Newsletter get <br> Update our New Course</p>
                    <form action="employer-1.html#" class="d-flex align-items-center justify-content-between mt-4 newsletter">
                        <input type="email" name="semail" id="semail" placeholder="Enter your email" required>
                        <button type="submit" class="rts__btn fill__btn">Subscribe</button>
                    </form>
                  </div>
                 <!-- newsletter form end -->

            </div>
        </div>
    </div>
    <div class="rts__copyright">
        <div class="container">
            <p class="text-center fw-medium py-4">
                Copyright &copy; 2024 All Rights Reserved by jobpath
            </p>
        </div>
    </div>
</footer>

    

  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header p-0 mb-5 mt-4">
      <a href="index.html" class="offcanvas-title" id="offcanvasLabel">
        <img src="assets/img/logo/header__one.svg" alt="logo">
      </a> 
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- login offcanvas -->
     <div class="mb-4 d-block d-sm-none">
      <div class="header__right__btn d-flex justify-content-center gap-3">
        <a href="employer-1.html#" class="small__btn no__fill__btn border-6 font-xs" aria-label="Login Button" data-bs-toggle="modal" data-bs-target="#loginModal"> <i class="rt-login"></i>Sign In</a>
        <a href="employer-1.html#" class="small__btn d-xl-flex fill__btn border-6 font-xs" aria-label="Job Posting Button">Add Job</a>
    </div>
     </div>
    <div class="offcanvas-body p-0">
      <div class="rts__offcanvas__menu overflow-hidden">
        <div class="offcanvas__menu"></div>
      </div>
      <p class="max-auto font-20 fw-medium text-center text-decoration-underline mt-4">Our Social Links</p>
      <div class="rts__social d-flex justify-content-center gap-3 mt-3">
    <a target="_blank" href="https://facebook.com"  aria-label="facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="_blank" href="https://instagram.com"  aria-label="instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com"  aria-label="linkedin">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://pinterest.com"  aria-label="pinterest">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    <a target="_blank" href="https://youtube.com"  aria-label="youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
    </div>
  </div>
<!-- THEME PRELOADER START -->
<div class="loader-wrapper">
    <div class="loader">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- THEME PRELOADER END -->
<button type="button" class="rts__back__top" id="rts-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
<!-- all plugin js -->
<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>