<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Your Ultimate Job HTML Template">
    <meta name="keywords" content="Job, Resume, Employer, Agency">
    <link rel="canonical" href="https://html.themewant.com/jobpath">
    <meta name="robots" content="index, follow">
    <!-- for open graph social media -->
    <meta property="og:title" content="Your Ultimate Job HTML Template">
    <meta property="og:description" content="Your Ultimate Job HTML Template">
    <meta property="og:image" content="https://www.example.com/image.jpg">
    <meta property="og:url" content="https://html.themewant.com/jobpath/">
    <!-- for twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Your Ultimate Job HTML Template">
    <meta name="twitter:description" content="Your Ultimate Job HTML Template">
    <!-- fabicon -->
    <link rel="shortcut-icon" href="assets/img/favicon-16x16.png" type="image/x-icon">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <title>Jobpath - Job Seeker &amp; Job Holder HTML Template</title>
    <!-- rt icons -->
    <link rel="stylesheet" href="assets/fonts/icon/css/rt-icons.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/fonts/fontawesome/fontawesome.min.css">
    <!-- all plugin css -->
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body class="is__home home__four branquito">
        <!-- header area -->
        <header class="rts__section rts__header relative__header">
            <div class="container-none">
                <div class="rts__menu__background">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="rts__logo">
                                <a href="index.html">
                                    <img class="logo__image" src="assets/img/logo/logo_three.png" alt="logo">
                                </a>
                            </div>
                            <div class="rts__menu d-flex gap-5 align-items-center">
                                <div class="header__right__btn d-flex gap-3">
                                    <a href="index-4.html#" class="small__btn d-none d-sm-flex no__fill__btn rounded-0 font-xs" aria-label="Login Button" data-bs-toggle="modal" data-bs-target="#loginModal"> Iniciar sessão</a>
                                    <a href="index-4.html#" class="small__btn d-none d-sm-flex fill__btn rounded-0 font-xs" aria-label="Job Posting Button" <a href="index-4.html#" data-bs-target="#signupModal" data-bs-toggle="modal" class="text-primary">Cadastrar</a>
                                    <button class="d-md-block d-lg-none rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-sharp fa-regular fa-bars"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header area end -->

        <!-- banner area -->
         <section class="rts__banner home__four__banner branquito">
            <div class="container rts__banner__wrapper branquito">
                <div class="row branquito">
                    <div class="rts__banner__wrapper flex-wrapp branquito flex-lg-nowrap pt-120 pb-200 d-flex gap-4 justify-content-between align-items-center gap-5 branquito">
                        <div class="rts__banner__content branquito">
                            <h1 class="rts__banner__title branquito espaco wow animated fadeInUp">
                                E a base, como está vindo? <span class="span-green" ><br>Cheia de talentos!</span>
                            </h1>
                            <p class="rts__banner__desc my-40  wow animated fadeInUp" data-wow-delay=".2s">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptate officia corporis enim accusamus molestias, repellendus laudantium quibusdam illum? Iure deserunt optio eos corrupti ex, et expedita minus laborum dolorum!
                            </p>
                            <button type="submit" class="rts__btn job__search" aria-label="Search">Quero fazer parte</button>

                            
                        </div>
                        <div class="rts__banner__image position-relative">
                            <figure class="banner__image">
                                <img src="assets/img/hom-4/banner/Illustration.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
         </section>
        <!-- banner area end -->

        <!-- current job area -->
         <!-- current job area end -->
        <!-- top employer -->
        <div class="rts__section overflow-hidden pt-100 pb-100">
            <div class="container">
                <div class="row justify-content-between gap-4 mb-50 position-relative mtn-1">
                    <div class="col-xl-6 col-lg-10">
    <div class="rts__section__content text-start  wow animated fadeInUp">
        <h3 class="rts__section__title section__mb">Top Employer</h3>
        <p class="rts__section__desc">Looking for your next career opportunity. Look no further</p>
    </div>
</div>
                    <div class="rts__slider__control style-gray align-items-end position-relative position-md-absolute bottom-md-0 right-md-0 z-3 d-none d-md-flex gap-2 max-contnet">
                        <div class="rts__slide__next rounded-0 slider__btn"><i class="fa-sharp fa-solid fa-chevron-left"></i></div>
                        <div class="rts__slide__prev rounded-0 slider__btn"><i class="fa-sharp fa-solid fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="row swiper-data overflow-hidden" data-swiper='{
                    "slidesPerView": 4.1,
                    "autoplay": true,
                    "loop": true,
                    "navigation": {
                        "nextEl": ".rts__slide__next",
                        "prevEl": ".rts__slide__prev"
                    },
                    "breakpoints": {
                        "0": {
                            "slidesPerView": 1.1
                        },
                        "576": {
                            "slidesPerView": 1.1
                        },
                        "768": {
                            "slidesPerView": 2.1
                        },
                        "992": {
                            "slidesPerView": 3.1
                        },
                        "1200": {
                            "slidesPerView": 4.1
                        }
                    }
                    }'>
                    <!-- single company info -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="rts__job__card style__four">
                                <div class="company__icon mx-auto rounded-0">
                                    <img src="assets/img/home-1/company/microsoft.svg" alt="">
                                </div>
                                <div class="h6 job__title mt-3 mb-2">
                                    <a href="employer-details-2.html" aria-label="job">
                                        Microsoft.com
                                    </a>
                                </div>
                                <p>Development</p>
                                <div class="d-flex justify-content-center gap-3 mt-3">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                </div>
                                <a href="index-4.html#" class="rts__btn fill__btn">open Job 20</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rts__job__card style__four">
                                <div class="company__icon mx-auto rounded-0">
                                    <img src="assets/img/home-1/company/upwork.svg" alt="">
                                </div>
                                <div class="h6 job__title mt-3 mb-2">
                                    <a href="employer-details-2.html" aria-label="job">
                                    Upwork.com
                                    </a>
                                </div>
                                <p>Freelancing</p>
                                <div class="d-flex justify-content-center gap-3 mt-3">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                </div>
                                <a href="index-4.html#" class="rts__btn fill__btn">open Job 20</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rts__job__card style__four">
                                <div class="company__icon mx-auto rounded-0">
                                    <img src="assets/img/home-1/company/in.svg" alt="">
                                </div>
                                <div class="h6 job__title mt-3 mb-2">
                                    <a href="employer-details-2.html" aria-label="job">
                                    Linkedin.com
                                    </a>
                                </div>
                                <p>Ui/UX Design</p>
                                <div class="d-flex justify-content-center gap-3 mt-3">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                </div>
                                <a href="index-4.html#" class="rts__btn fill__btn">open Job 20</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rts__job__card style__four">
                                <div class="company__icon mx-auto rounded-0">
                                    <img src="assets/img/home-1/company/google.svg" alt="">
                                </div>
                                <div class="h6 job__title mt-3 mb-2">
                                    <a href="employer-details-2.html" aria-label="job">
                                        Google.com
                                    </a>
                                </div>
                                <p>It & Networking</p>
                                <div class="d-flex justify-content-center gap-3 mt-3">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                </div>
                                <a href="index-4.html#" class="rts__btn fill__btn">open Job 20</a>
                            </div>
                        </div>
                    </div>
                    <!-- single company info end -->
                </div>
            </div>
        </div>
        <!-- top employer end -->
 <!-- job post card -->
 <div class="job__cta">
    <div class="container">
        <div class="row px-3">
            <div class="job__cta__card d-flex flex-wrap flex-lg-nowrap align-items-center">
                <div class="cta__image">
                    <img src="assets/img/hom-4/cta.svg" alt="">
                </div>
                <div class="cta__content">
                    <div class="ml-100 max-500">
                        <span class="h3 text-white mb-3 d-block  wow animated fadeInUp">For Hiring Managers</span>
                        <p class="br-lg-none  wow animated fadeInUp">Looking for a new job can be both exciting and daunting. <br> 
                            Navigating the job market involves exploring various avenues
                        </p>
                        <a href="contact-1.html" class="rts__btn fill__btn">Job Post For Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job post card end -->
 <p> </p>
        <!-- blog section -->
        <div class="rts__section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-10">
    <div class="rts__section__content text-center wow animated fadeInUp mb-60">
        <h3 class="rts__section__title section__mb"><br>Read Our Latest Blog</h3>
        <p class="rts__section__desc">From entry-level positions to executive roles browse through.</p>
    </div>
</div>
                </div>
                <div class="row g-30">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="rts__single__blog blog__style__four rounded-0">
                            <a href="blog-details.html" class="blog__img">
                                <img src="assets/img/hom-4/blog/1.webp" class="mb-2 rounded-0" alt="blog">
                            </a>
                            <div class="blog__meta">
                                <div class="blog__meta__info d-flex gap-3 my-3">
                                    <span class="d-flex gap-1 align-items-center"> <img class="svg" src="assets/img/icon/calender.svg" alt=""> 20 March, 2022</span>
                                    <a href="index-4.html#" class="d-flex gap-1 align-items-center"> <img class="svg" src="assets/img/icon/user.svg" alt=""> Jon Adom</a>
                                </div>
                                <a href="blog-details.html" class="h6 fw-semibold">
                                    7 Ways Job Post Has Improved Business Today
                                </a>
                                <a href="blog-details.html" class="readmore__btn d-flex mt-3 gap-2 align-items-center">Read More <i class="fa-light fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="rts__single__blog blog__style__four rounded-0">
                            <a href="blog-details.html" class="blog__img">
                                <img src="assets/img/hom-4/blog/3.webp" class="mb-2 rounded-0" alt="blog">
                            </a>
                            <div class="blog__meta">
                                <div class="blog__meta__info d-flex gap-3 my-3">
                                    <span class="d-flex gap-1 align-items-center"> <img class="svg" src="assets/img/icon/calender.svg" alt=""> 20 March, 2022</span>
                                    <a href="index-4.html#" class="d-flex gap-1 align-items-center"> <img class="svg" src="assets/img/icon/user.svg" alt=""> Jon Adom</a>
                                </div>
                                <a href="blog-details.html" class="h6 fw-semibold">
                                    Start an online Job and work from home
                                </a>
                                <a href="blog-details.html" class="readmore__btn d-flex mt-3 gap-2 align-items-center">Read More <i class="fa-light fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="rts__single__blog blog__style__four rounded-0">
                            <a href="blog-details.html" class="blog__img">
                                <img src="assets/img/hom-4/blog/2.webp" class="mb-2 rounded-0" alt="blog">
                            </a>
                            <div class="blog__meta">
                                <div class="blog__meta__info d-flex gap-3 my-3">
                                    <span class="d-flex gap-1 align-items-center"> <img class="svg" src="assets/img/icon/calender.svg" alt=""> 20 March, 2022</span>
                                    <a href="index-4.html#" class="d-flex gap-1 align-items-center"> <img class="svg" src="assets/img/icon/user.svg" alt=""> Jon Adom</a>
                                </div>
                                <a href="blog-details.html" class="h6 fw-semibold">
                                    Insider Strategies for Success on Job Websites
                                </a>
                                <a href="blog-details.html" class="readmore__btn d-flex mt-3 gap-2 align-items-center">Read More <i class="fa-light fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog section end -->

        <!-- faq section -->
       
        <!-- faq section end -->

        <!-- app section -->
        
        <!-- app section end -->

        <!-- testimonial section -->
        <div class="rts__section section__padding ">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-10">
    <div class="rts__section__content text-center  wow animated fadeInUp mb-60">
        <h3 class="rts__section__title section__mb">What Our Customer Saying</h3>
        <p class="rts__section__desc">From entry-level positions to executive roles browse through.</p>
    </div>
</div>      
            </div>
            <div class="position-relative ">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="rts__testimonial__four position-relative overflow-hidden">
                            <div class="swiper-wrapper">
                                <!-- single testimonial -->
                                <div class="swiper-slide">
                                    <div class="rts__single__testimonial style__four ">
                                        <div class="testimonial__content">
                                            <div class="rts__rating mb-30 justify-content-center d-flex gap-2">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                                            </div>
                                            <h5 class="testimonial__text fw-medium">I can't recommend The Gourmet Haven enough. It's a place for special occasions, date nights, or whenever you're in the mood for a culinary adventure of any kind.
                                            </h5>
                                            <div class="d-flex gap-4 mt-40 justify-content-center align-items-center mx-auto max-content">
                                                <div class="author__image">
                                                    <img class="" src="assets/img/hom-4/testimonial/author-1.svg" alt="">
                                                </div>
                                                <div class="author__content">
                                                    <span class="font-20 fw-semibold">Alexander Joy</span>
                                                    <p>Web Developer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single testimonial end -->
                            </div>
                        </div>
                    </div>
                    <div class="rts__slider__control is__home__four__testimonial d-none d-lg-flex z-3 w-100 justify-content-between g-0 position-absolute top-50  translate-middle-y">
                        <div class="rts__slide__next slider__btn"><i class="fa-sharp fa-light fa-arrow-left-long"></i></div>
                        <div class="rts__slide__prev slider__btn"><i class="fa-sharp fa-light fa-arrow-right-long"></i></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- testimonial section end -->

    <!-- brand area -->
    <div class="rts__section rts__brand pb-120 bottom-0 text-center">
    <div class="container">
        <div class="row">
            <div class="section__title mb-40">
                <span class="h6 d-block fw-semibold">Trusted by 300+ leading companies</span>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="rts__brand__slider overflow-hidden swiper-data" data-swiper='{
                "slidesPerView":7,
                "loop": true,
                "speed": 1000,
                "autoplay":{
                    "delay":"7000"
                },

                "breakpoints": {
                    "0": {
                        "slidesPerView": 2
                    },
                    "480": {
                        "slidesPerView": 3
                    },
                    "768": {
                        "slidesPerView": 4
                    },
                    "1024": {
                        "slidesPerView": 4
                    },
                    "1200": {
                        "slidesPerView": 6
                    },
                    "1400": {
                        "slidesPerView": 7
                    }
                }

            }'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/b51.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/image1.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/image2.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/image3.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/image4.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/image5.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/image1.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="index-4.html#" class="brand__item__link" aria-label="brand">
                                <img src="assets/img/home-1/brand/linkedin-logo-png-20321.svg" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <!-- brand area end -->

    <footer class="rts__section  footer__home__four">
    <div class="container">
        <div class="row">
            <div class="footer__wrapper gap-4 gap-lg-5 flex-wrap flex-md-nowrap d-flex justify-content-sm-between justify-content-start pb-60">
                <div class="rts__footer__widget max-410">
                    <a href="index.html" class="footer__logo" aria-label="logo">
                        <img src="assets/img/logo/header__one.svg" width="160" height="40" alt="logo">
                    </a>
                    <p class="mt-4">Subscribe Our Newsletter To get Our Update</p>
                    <form action="index-4.html#" class="d-flex align-items-center justify-content-between mt-4 newsletter style-border">
                        <input type="email" name="semail" id="semail" placeholder="Enter your email" required>
                        <button type="submit" class="rts__btn fill__btn">Subscribe</button>
                    </form>
                </div>

                <!-- footer menu -->
                 <div class="rts__footer__widget max-content">
                    <div class=" fw-semibold mb-3 h6 lh-1">Pages</div>
                    <ul class="list-unstyled">
                        <li><a href="index.html" aria-label="footer__menu__link">Home</a></li>
                        <li><a href="about.html" aria-label="footer__menu__link">About Us</a></li>
                        <li><a href="employer-1.html" aria-label="footer__menu__link">Employer</a></li>
                        <li><a href="candidate-1.html" aria-label="footer__menu__link">Candidates</a></li>
                        <li><a href="blog-1.html" aria-label="footer__menu__link">Blog</a></li>
                    </ul>
                 </div>

                 <div class="rts__footer__widget max-content">
                    <div class=" fw-semibold mb-3 h6 lh-1">Pages</div>
                    <ul class="list-unstyled">
                        <li><a href="faq.html" aria-label="footer__menu__link">Faq</a></li>
                        <li><a href="index-4.html#" aria-label="footer__menu__link">Review</a></li>
                        <li><a href="contact-1.html" aria-label="footer__menu__link">Contact</a></li>
                        <li><a href="index-4.html#" aria-label="footer__menu__link">Career</a></li> 
                    </ul>
                 </div>

                 <!-- newsletter form -->
                  <div class="rts__footer__widget max-320">
                    <div class=" fw-semibold mb-3 h6 lh-1">Social Link</div>
                    <div class="rts__social d-flex gap-3">
    <a target="_blank" href="https://facebook.com"  aria-label="facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="_blank" href="https://instagram.com"  aria-label="instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com"  aria-label="linkedin">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://pinterest.com"  aria-label="pinterest">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    <a target="_blank" href="https://youtube.com"  aria-label="youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
                  </div>
                 <!-- newsletter form end -->

            </div>
        </div>
    </div>
    <div class="rts__copyright">
        <div class="container">
            <p class="text-center fw-medium py-4">
                Copyright &copy; 2024 All Rights Reserved by jobpath
            </p>
        </div>
    </div>
</footer>

    

<div class="modal similar__modal fade " id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="max-content similar__form form__padding">
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <h6 class="mb-0">Entrar no mirim</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-regular fa-xmark text-primary"></i>
                </button>
            </div>
            <div class="d-block has__line text-center"><p>Escolha o tipo de conta</p></div>
            
            <div class="tab__switch flex-wrap flex-sm-nowrap nav-tab mt-30 mb-30">
                <button class="rts__btn nav-link  active"><i class="fa-light fa-user"></i>Candidato</button>
                <button class="rts__btn nav-link"><i class="rt-briefcase"></i> Empregador</button>
            </div>
            <div class="tab-content" id="">
                
            </div>
            <form action="candidate-dashboard.html" method="post" class="d-flex flex-column gap-3">
                <div class="form-group">
                    <label for="email" class="fw-medium text-dark mb-3">Your Email</label>
                    <div class="position-relative">
                        <input type="email" name="email" id="email" value="user@test.com" placeholder="Enter your email" required>
                        <i class="fa-light fa-user icon"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="fw-medium text-dark mb-3">Password</label>
                    <div class="position-relative">
                        <input type="password" name="password" value="1234" id="password" placeholder="Enter your password" required>
                        <i class="fa-light fa-lock icon"></i>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center fw-medium">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me
                        </label>
                    </div>
                    <a href="index-4.html#" class="forgot__password text-para" data-bs-toggle="modal" data-bs-target="#forgotModal" >Forgot Password?</a>
                </div>
                <div class="form-group my-3">
                    <button class="rts__btn w-100 fill__btn">Login</button>
                </div>
            </form>
            <div class="d-block has__line text-center"><p>Or</p></div>
            <div class="d-flex gap-4 flex-wrap justify-content-center mt-20 mb-20">
                <div class="is__social google">
                    <button><img src="assets/img/icon/google-small.svg" alt="">Continue with Google</button>
                </div>
                <div class="is__social facebook">
                    <button><img src="assets/img/icon/facebook-small.svg" alt="">Continue with Facebook</button>
                </div>
            </div>
            <span class="d-block text-center fw-medium">Don`t have an account? <a href="index-4.html#" data-bs-target="#signupModal" data-bs-toggle="modal" class="text-primary">Sign Up</a> </span>
        </div>
      </div>
    </div>
</div>

<!-- signup form -->
<div class="modal similar__modal fade " id="signupModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="max-content similar__form form__padding">
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <h6 class="mb-0">Create A Free Account</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-regular fa-xmark text-primary"></i>
                </button>
            </div>
            <div class="d-block has__line text-center"><p>Choose your Account Type</p></div>
            
            <div class="tab__switch flex-wrap flex-sm-nowrap nav-tab mt-30 mb-30">
                <button class="rts__btn nav-link  active"><i class="fa-light fa-user"></i>Candidate</button>
                <button class="rts__btn nav-link"><i class="rt-briefcase"></i> Employer</button>
            </div>
            <form action="index-4.html#" class="d-flex flex-column gap-3">
                
                <div class="form-group">
                    <label for="sname" class="fw-medium text-dark mb-3">Your Name</label>
                    <div class="position-relative">
                        <input type="text" name="sname" id="sname" placeholder="Candidate" required>
                        <i class="fa-light fa-user icon"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signemail" class="fw-medium text-dark mb-3">Your Email</label>
                    <div class="position-relative">
                        <input type="email" name="signemail" id="signemail" placeholder="Enter your email" required>
                        <i class="fa-sharp fa-light fa-envelope icon"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="spassword" class="fw-medium text-dark mb-3">Password</label>
                    <div class="position-relative">
                        <input type="password" name="spassword" id="spassword" placeholder="Enter your password" required>
                        <i class="fa-light fa-lock icon"></i>
                    </div>
                </div>
                
                <div class="form-group my-3">
                    <button class="rts__btn w-100 fill__btn">Login</button>
                </div>
            </form>
            <div class="d-block has__line text-center"><p>Or</p></div>
            <div class="d-flex flex-wrap justify-content-center gap-4 mt-20 mb-20">
                <div class="is__social google">
                    <button><img src="assets/img/icon/google-small.svg" alt="">Continue with Google</button>
                </div>
                <div class="is__social facebook">
                    <button><img src="assets/img/icon/facebook-small.svg" alt="">Continue with Facebook</button>
                </div>
            </div>
            <span class="d-block text-center fw-medium">Have an account? <a href="index-4.html#" data-bs-target="#loginModal" data-bs-toggle="modal" class="text-primary">Login</a> </span>
        </div>
      </div>
    </div>
</div>

<!-- forgot password form -->
<div class="modal similar__modal fade " id="forgotModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="max-content similar__form form__padding">
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <h6 class="mb-0">Forgot Password</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-regular fa-xmark text-primary"></i>
                </button>
            </div>
            <form action="index-4.html#" class="d-flex flex-column gap-3">
                
                <div class="form-group">
                    <label for="fmail" class="fw-medium text-dark mb-3">Your Email</label>
                    <div class="position-relative">
                        <input type="email" name="email" id="fmail" placeholder="Enter your email" required>
                        <i class="fa-sharp fa-light fa-envelope icon"></i>
                    </div>
                </div>
                
                <div class="form-group my-3">
                    <button class="rts__btn w-100 fill__btn">Reset Password</button>
                </div>
            </form>
        
            <span class="d-block text-center fw-medium">Remember Your Password? <a href="index-4.html#" data-bs-target="#loginModal" data-bs-toggle="modal" class="text-primary">Login</a> </span>
        </div>
      </div>
    </div>
</div>
  
    

  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header p-0 mb-5 mt-4">
      <a href="index.html" class="offcanvas-title" id="offcanvasLabel">
        <img src="assets/img/logo/header__one.svg" alt="logo">
      </a> 
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- login offcanvas -->
     <div class="mb-4 d-block d-sm-none">
      <div class="header__right__btn d-flex justify-content-center gap-3">
        <a href="index-4.html#" class="small__btn no__fill__btn border-6 font-xs" aria-label="Login Button" data-bs-toggle="modal" data-bs-target="#loginModal"> <i class="rt-login"></i>Sign In</a>
        <a href="index-4.html#" class="small__btn d-xl-flex fill__btn border-6 font-xs" aria-label="Job Posting Button">Add Job</a>
    </div>
     </div>
    <div class="offcanvas-body p-0">
      <div class="rts__offcanvas__menu overflow-hidden">
        <div class="offcanvas__menu"></div>
      </div>
      <p class="max-auto font-20 fw-medium text-center text-decoration-underline mt-4">Our Social Links</p>
      <div class="rts__social d-flex justify-content-center gap-3 mt-3">
    <a target="_blank" href="https://facebook.com"  aria-label="facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="_blank" href="https://instagram.com"  aria-label="instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com"  aria-label="linkedin">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://pinterest.com"  aria-label="pinterest">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    <a target="_blank" href="https://youtube.com"  aria-label="youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
    </div>
  </div>
<!-- THEME PRELOADER START -->
<div class="loader-wrapper">
    <div class="loader">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- THEME PRELOADER END -->
<button type="button" class="rts__back__top" id="rts-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
<!-- all plugin js -->
<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>